<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../assets/css/redirect.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <title>درحال انتقال...</title>
  </head>
  <body>
    <div class="message">
      <h1>در حال انتقال به سایت فروشنده...</h1>
      <h3>لطفاً چند لحظه صبر کنید</h3>
    </div>
  </body>
</html>
